<div class="container-fluid">
  <div class="row">
      <p class="text-center">
        <%= image_tag "kitten-package1.png" %>
      </p>
      <h1 class="text-center">
        This is a test.
      </h1>
  </div>
</div>
